.accepted-avatar {
  width: 161px;
  height: 160px;
  z-index: 1;
  position: relative;
}
@media all and (min-width: 414px) {
  .accepted-avatar {
    width: 171px;
    height: 170px;
  }
}
.accepted-avatar img {
  width: 100%;
  height: auto;
}


.accepted-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  position: relative;
  padding-top: 40px;
  min-height: 250px;
  padding-bottom: 20px;
  position: relative;
}



@media all and (min-width: 480px) {
  .accepted-heading {
    padding-top: 60px
  }
}

@media all and (min-width: 425px) {
  .accepted-heading {
    background-position-y: 7%;
  }
}
 
@media all and (min-width: 450px) {
  .accepted-heading {
    background-position-y: 9%;
  }
}
@media all and (min-width: 480px) {
  .accepted-heading {
    background-position-y: -3%;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .accepted-heading {
    padding-top: 60px;
  }
}

  .accepted-heading .accepted-logo {
    width: 142.4px;
    height: 43px;
    margin-bottom: 11px;
    z-index: 1;
    position: relative;
  }

  .accepted-content {
    z-index: 1;
    min-height: 25px;
    margin-bottom: 20px;
  }

  .accepted-content p {
    font-size: 22px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }

  .absolute-background-path {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    max-height: 500px;
  }
  .absolute-background-path img  {
    width: 170%;
    transform: translate(0, -35%);
  }

  @media all and (min-width: 480px) {
    .absolute-background-path {
      max-height: 550px;
    }
    .absolute-background-path img  {
      width: 170%;
      transform: translate(0, -35%);
    }
  }

 .accepted-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b081a;
  height: 65px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 30px;
 }

 @media all and (min-width: 480px) {
   .accepted-button {
    left: 50%;
    transform: translateX(-50%);

    position: absolute;
    width: 77%;
   }
 }



 .accepted-button img:active {
   opacity: 0.8;
 }

 .accepted-icon {
   display: flex;
   align-items: center;
   justify-content: center;
    width: 66px;
    height: 66px;
    background: white;
    border-radius: 100%;

 }

 .eneter-message-button button {
  min-height: 60px;
}

 @media all and (max-width: 400px) {
  .accepted-heading {
    min-height: 180px;
    padding-bottom: 30px;
    padding-top: 5px;
  }
  .enter-message-heading {
    padding-bottom: 0px;
  }
  .absolute-background-path img {
    width: 130%;
    transform: translate(0, -40%);
  }
  .accepted-logo {
    width: 110.4px !important;
    height: 32px !important;
  }
  .accepted-avatar {
    width: 125px;
    height: 125px;
    margin-top: 10px;
  }
  .accepted-content p{
    padding-left: 20px;
    padding-right: 20px;
  }
  .accepted-button {
    padding-bottom: 20px;
  }
  .enter-message-text {
    font-size: 16px;
  }
  .enter-message-date {
    font-size: 13px;
  }
  .enter-message-avatar {
    width: 80px;
    height: 80px;

  }
  .enter-message-avatar img {
    width: 100%;
  }
  .accepted-absolute-path img {
    width: 150%;
    transform: translate(0, -50%);
  }
  .home-content p {
    font-size: 23px;
  }
  .home-price h1 { 
    font-size: 44px;
  }
  .emoji-container {
    height: 75px;
  }
  .emoji-scroll {
    height: 50px;
  }
  .emoji-scroll img {
    width: 50px;
    padding: 0 4px;
  }
  .eneter-message-button button {
    min-height: 50px;
  }
  .eneter-message-button button span {
    font-size: 16px;
  }
  .enter-massage-content-wrapper {
    padding-bottom: 230px;
  }
  .accepted-screen-backg-path img {
    transform: translate(0, -49%);
  }
  .home-buttons {
    padding-bottom: 10px;
  }
}



.emoji-container {
  position: unset;
  overflow: unset;
}
.emoji-scroll {
  padding: 0 0 10px 0;
    max-width: 100%
}